.container {
    margin: 1rem auto;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    padding: 5rem;
    border-radius: 1rem;
    text-align: center;
}

.form-control {
    margin: 1rem auto;
}

.btn {
    margin: 1rem auto;
}