<h2 mat-dialog-title>Create Account</h2>
<mat-dialog-content class="mat-typography">
    <h3>Terms and Conditions</h3>
    <p>Welcome to [Bank Name]'s online banking platform. By using our services, you agree to comply with the following
        terms and conditions. Please read them carefully:</p>

    <h3>Acceptance of Terms</h3>
    <p>By accessing or using our online banking services, you acknowledge that you have read, understood, and agree to
        be bound by these terms and conditions. If you do not agree with any part of these terms, please do not use our
        services.</p>

    <h3>Service Availability</h3>
    <p>[Bank Name] will make reasonable efforts to ensure the availability of our online banking platform. However, we
        may temporarily suspend or restrict access to the service for maintenance or security reasons.</p>

    <h3>Account Security</h3>
    <p>You are responsible for maintaining the security of your online banking credentials (e.g., username and
        password). Do not share your login information with anyone. [Bank Name] will never ask you for your password via
        email or phone. Please report any suspicious activity immediately.</p>

    <h3>Privacy Policy</h3>
    <p>Your use of our online banking services is also governed by our Privacy Policy. Please review our Privacy Policy
        to understand how we collect, use, and protect your personal information.</p>

    <h3>Transactions</h3>
    <p>All transactions conducted through our online banking platform must comply with applicable laws and regulations.
        [Bank Name] reserves the right to refuse or reverse any transaction that violates our policies or legal
        requirements.</p>

    <h3>Communication</h3>
    <p>We may communicate with you regarding your accounts and transactions via email, notifications within the
        platform, or other electronic means. It is essential to keep your contact information up to date to receive
        important notifications.</p>

    <h3>Termination of Service</h3>
    <p>[Bank Name] reserves the right to terminate or suspend your access to our online banking services at any time,
        with or without cause. You may also terminate your account by following our designated procedures.</p>

    <h3>Changes to Terms and Conditions</h3>
    <p>We may update or modify these terms and conditions from time to time. Any changes will be posted on our website,
        and it is your responsibility to review them periodically. Continued use of our services after such changes
        constitutes acceptance of the updated terms.</p>

    <h3>Contact Us</h3>
    <p>If you have any questions or concerns about these terms and conditions or our online banking services, please
        contact our customer support team.</p>

    <h3>Effective Date</h3>
    <p>These terms and conditions are effective as of [Effective Date].</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>I Aggree</button>
</mat-dialog-actions>