<div class="one">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Credit Card</mat-card-title>
            <mat-card-subtitle>Digital</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>card number :- xxxx xxxx xxxx xxxx</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>