<div class="container">
    <div class="home_loan_img">
        <img src="assets/home_loan.svg" alt="">
        <p>Get Home Loan at 9% only</p>
    </div>

    <!-- For Loan and Other stuffs -->

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="one">
                    <img src="assets/icons/car-loan-svgrepo-com.svg" alt="">
                    <p>Vehicle Loan</p>
                </div>
            </div>
            <div class="col">
                <div class="one">
                    <img src="assets/icons/currency.svg" alt="">
                    <p>Open Savings Account</p>
                    <a href="/customer/open-savings-account">open right now</a>
                </div>
            </div>
            <div class="col">
                <div class="one">
                    <img src="assets/icons/insurance.svg" alt="">
                    <p>Insurance</p>
                </div>
            </div>
            <div class="col">
                <div class="one">
                    <img src="assets/icons/transfer.svg" alt="">
                    <p>Money Transfer</p>
                </div>
            </div>
        </div>

        <!-- second row -->
        <div class="row">
            <div class="col">
                <div class="one">
                    <img src="assets/icons/credit_card.svg" alt="">
                    <p>Credit Card</p>
                </div>
            </div>
            <div class="col">
                <div class="one">
                    <img src="assets/icons/passbook.svg" alt="">
                    <p>Passbook</p>
                </div>
            </div>
            <div class="col">
                <div class="one">
                    <img src="assets/icons/insurance.svg" alt="">
                    <p>Savings Account</p>
                </div>
            </div>
            <div class="col">
                <div class="one">
                    <img src="assets/icons/gift_card.svg" alt="">
                    <p>Gift Cards</p>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>