.one {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid black;
    transition: all 0.5s;
    background-color: #E9E8E8;
    text-align: center;
}


.one:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.one img {
    height: 100px;
}