<div class="container">
    <div class="row">
        <div class="col">
            <div class="one">
                <img src="assets/icons/visa-svgrepo-com.svg" alt="" />
                <h4>book.title</h4>
                <p>Price</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-warning">Purchase Now</button>
                </div>
            </div>
        </div>
        <!-- To remove -->
        <div class="col">
            <div class="one">
                <img src="assets/icons/visa-svgrepo-com.svg" alt="" />
                <h4>book.title</h4>
                <p>Price</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-warning">Purchase Now</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="one">
                <img src="assets/icons/visa-svgrepo-com.svg" alt="" />
                <h4>book.title</h4>
                <p>Price</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-warning">Purchase Now</button>
                </div>
            </div>
        </div>
        <!-- Upto here remove -->
    </div>
</div>