<mat-paginator class="paginator" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
</mat-paginator>

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Debit
        </div>
        <div class="card-body">
            <h5 class="card-title">Send To Rahul</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-body-secondary">
            2 days ago
        </div>
    </div>
</div>