<div class="container">
    <form #MyForm="ngForm" (submit)="userLogIn(MyForm)">
        <div class="mb-3">
            <p>Customer Login</p>
            <input type="text" ngModel name="username" class="form-control" id="exampleFormControlInput1"
                placeholder="username">
            <input type="password" ngModel name="password" class="form-control" id="exampleFormControlInput1"
                placeholder="password">
        </div>
        <button type="submit" class="btn btn-success">Log In</button>
        <p>Dont't Have Account?<a href="/customer/sign-up">SignUp</a></p>
    </form>
</div>