.container {
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1rem;
}

.example-form {
    width: 100%;
    text-align: center;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.btn {
    margin: 2rem auto;
}