<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!-- LOGO Name here -->
        <a class="navbar-brand" href="#">ABHINAV BANK</a>
        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- HOME ITEM -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <!-- Services -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Service
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/customer/transfer-funds">Transfer Funds</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/customer/passbook">Passbook</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/customer/balance">Balance</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/customer/depost-fund">Depost Funds</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/customer/withdraw-fund">Withdraw Funds</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/customer/open-savings-account">Savings Account</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/customer/open-current-account">Current Account</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">My Gift Cards</a></li>

                    </ul>
                </li>

                <!-- Multiple Options -->

                <li>
                    <button style="margin: 0; padding: 0;" mat-button [matMenuTriggerFor]="animals">Manager</button>
                    <mat-menu #animals="matMenu">
                        <button mat-menu-item [matMenuTriggerFor]="vertebrates">Loan Check</button>
                        <button mat-menu-item [matMenuTriggerFor]="account">Account</button>
                        <button mat-menu-item [matMenuTriggerFor]="loan">Loan</button>
                    </mat-menu>

                    <!-- For Loan -->
                    <mat-menu #loan="matMenu">
                        <button mat-menu-item>Personal Loan</button>
                        <button mat-menu-item>Vehicle Loan</button>
                        <button mat-menu-item>Mortgage Loan</button>
                        <button mat-menu-item>Student Loan</button>
                        <button mat-menu-item>Agriculture Loan</button>
                        <button mat-menu-item>Home Loan</button>
                    </mat-menu>

                    <mat-menu #vertebrates="matMenu">
                        <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
                        <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
                        <!-- <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
                        <button mat-menu-item>Birds</button>
                        <button mat-menu-item>Mammals</button> -->
                    </mat-menu>

                    <mat-menu #account="matMenu">
                        <button mat-menu-item>
                            <a class="a-disable" href="/manager/current-account-request">Current Account Request</a>
                        </button>
                        <button mat-menu-item>
                            <a class="a-disable" href="/manager/saving-account-request">Saving Account Request</a>
                        </button>
                    </mat-menu>

                    <mat-menu #fish="matMenu">
                        <button mat-menu-item>Baikal oilfish</button>
                        <button mat-menu-item>Bala shark</button>
                        <button mat-menu-item>Ballan wrasse</button>
                        <button mat-menu-item>Bamboo shark</button>
                        <button mat-menu-item>Banded killifish</button>
                    </mat-menu>

                    <mat-menu #amphibians="matMenu">
                        <button mat-menu-item>Sonoran desert toad</button>
                        <button mat-menu-item>Western toad</button>
                        <button mat-menu-item>Arroyo toad</button>
                        <button mat-menu-item>Yosemite toad</button>
                    </mat-menu>

                    <mat-menu #reptiles="matMenu">
                        <button mat-menu-item>Banded Day Gecko</button>
                        <button mat-menu-item>Banded Gila Monster</button>
                        <button mat-menu-item>Black Tree Monitor</button>
                        <button mat-menu-item>Blue Spiny Lizard</button>
                        <button mat-menu-item disabled>Velociraptor</button>
                    </mat-menu>
                </li>

                <!-- mulitple menu ends here -->

                <!-- For Deals -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Cards
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/customer/credit-card">Credit Card</a></li>
                        <li><a class="dropdown-item" href="#">Debit Card</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/customer/gift-cards">Gift Card</a></li>

                    </ul>
                </li>


                <!-- For Locker -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Locker
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Locker Availability</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li><a class="dropdown-item" href="#">Locker Rent</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                    </ul>
                </li>

                <!-- For Insurance -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Insurance
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Life Insurance</a></li>
                        <li><a class="dropdown-item" href="#">Health Insurance</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Auto Insurance</a></li>

                        <li><a class="dropdown-item" href="#">Travel Insurance</a></li>

                    </ul>
                </li>

                <!-- For Loan -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Loan
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/customer/apply-home-loan">Home Loan</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/customer/apply-personal-loan">Personal Loan</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/customer/apply-vehicle-loan">Vehicle Loan</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/customer/apply-student-loan">Student Loans</a></li>
                    </ul>
                </li>

                <!-- Log In -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Log In
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/customer/login">Log In</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/customer/sign-up">Register</a></li>
                    </ul>
                </li>


                <!-- Manager -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Manager
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/add-insurance">Add Insurance</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Delete Insurance</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Add Loan</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Delete Loan</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/manager/add-gift-card">Add Gift Card</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/manager/modify-gift-card">Modify Gift Card</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Approve Loans</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Approve Saving Accounts</a></li>
                    </ul>
                </li>


                <!-- FOR DROP DOWN -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        ADMIN
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/manager">Approve Manager</a></li>
                        <li><a class="dropdown-item" href="/admin/all-manager">Manager List</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Customer</a></li>
                    </ul>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>